*{
    margin: 0;
    padding: 0;
}

div:first-child{
                 background-color: green;
               }

div:nth-last-child(2){
                     background-color: orange;
                   }

p::first-line{
                background-color: brown;
             }             
          
p::first-letter{
                 font-size: 100px;
                 padding-right: 2px ;
               }         
           
#lorem::after{
        content: url("../images/Logo.png");
      }

/* 5 classes and 3 elements */      
     
#borem::before{
                content: url("../images/solo-leveling-fire-jin-woo-152odsk6byi5dojl.jpg");
              }

#par2::first-letter{
                        font-size: 50px;
                   }
         
#torem::first-line{
                    font-style: italic;
                  }
                  
#par2:hover{
                color: blue;
           }

a:visited{
            color:white;
            font-size: 50px;
         }

div:last-of-type{
                font-size: x-large;
              }
              
h2:not(p){
            color: purple;
          }
          
#p1:hover{
            border: 5px solid;
         }          